@media screen {
    .preload{
		position: fixed;
		width: 100%;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		align-content: center;
		transition: opacity 0.5s, background-color 0.5s;
	}
	.onload{
		position: relative;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s;
		min-height: 100vh;
	}
	.preload.load{
		opacity: 1!important;
		z-index: 999999!important;
		background-color: rgba(255, 255, 255, 0.5)!important;
		pointer-events: auto!important;
	}
	.preload img{
		animation: spin 7s linear infinite;
	}
	@keyframes spin {
		0% {
		  transform: rotateZ(0deg);
		}
		50% {
		  transform: rotateZ(360deg);
		}
		100% {
		  transform: rotateZ(0deg);
		}
	}
    a{
        text-decoration: none;
    }
    a[href]{
        color: #003399;
    }
    .nav-header{
        background-color: #6699ff;
        color: #fff;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .nav-header .nav-link{
        color: #fff;
        font-size: 1.1em;
        font-weight: 500;
    }
    .nav-header .nav-item{
        min-width: 100px;
    }
    .nav-header .nav-link{
        transition: all 0.5s;
        text-align: center;
        padding: 14px;
        border-radius: 8px;
    }
    .nav-header .nav-link.active{
        color: #003399;
        border-bottom: 4px #00134F solid;
    }
    .nav-header .nav-link:hover{
        color: #003399;
        border-bottom: 4px #00134F solid;
    }
    .list{
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .list li{
        margin-bottom: 7px;
    }
    footer .list li .lab{
        font-size: 42px;
    }
    footer .list li .las{
        font-size: 22px;
    }
    footer .list li{
        font-weight: 500;
    }
    footer .list li a[href]{
        font-size: 14px;
        color: #fff!important;
        transition: all 0.3s;
    }
    footer .list li a[href]:hover,
    footer .list li a[href].active{
        opacity: 0.6!important;
    }
    footer{
        background-color: #6699ff;
    }
    footer h5{
        color: #fff;
        font-weight: 500;
    }
    .divider{
        border: 2px dashed #003399;
        border-radius: 8px;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 50%;
    }
    .copyColor{
        background-color: #003399!important;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: .9em;
        font-weight: 500;
    }
    .lang img{
        width: 28px;
        margin: 2px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        transition: all 0.2s;
    }
    .lang img:hover{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: initial;
    }
    .lang img.active{
        -webkit-filter: grayscale(0%)!important;
        filter: grayscale(0%)!important;
        filter: initial!important;
    }
    .contacto-home{
        font-weight: 500;
        flex-direction: row;
    }
    .contacto-home i{
        font-size: 1.2em;
    }
    .contacto-home span{
        margin-left: 12px;
    }
    b{
        font-weight: 500;
    }
    html[data-bs-theme="dark"] table{
        --bs-table-bg: #212529!important;
        --bs-table-striped-bg: #2c3034!important;
        --bs-table-striped-color: #fff!important;
        --bs-table-active-bg: #373b3e!important;
        --bs-table-active-color: #fff!important;
        --bs-table-hover-bg: #323539!important;
        --bs-table-hover-color: #fff!important;
        color: #fff!important;
        border-color: #373b3e!important;
    }
    .dropdown-menu {
        border: none;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, .05);
    }
    .btn-primary {
        background: #0054A6;
        color: #fff;
        border: none!important;
    }
    .swal2-confirm{
        background: #0054A6!important;
        color: #fff!important;
        border: none !important;
    }
    div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
        box-shadow: 0 0 0 3px rgba(102, 177, 224, 0.5)!important;
    }
    .btn-primary:hover {
        background: #023466;
        color: #fff;
    }
}
@media screen and (max-width: 991px) {
    .contacto-home{
        margin-top: 8px;
        text-align: end;
        flex-direction: column!important;
    }
    .navbar.navbar-expand-lg.nav-header{
        padding-top: 8px!important;
        padding-bottom: 8px!important;
    }
}
@media screen and (min-width: 991px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    html[data-bs-theme="light"] ::-webkit-scrollbar-thumb {
        transition: 0.3s;
        -webkit-border-radius: 0px;
        background: #00134F;
    }

    html[data-bs-theme="light"] ::-webkit-scrollbar-thumb:hover {
        background: #00134F;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    html[data-bs-theme="dark"] ::-webkit-scrollbar {
        width: 20px;
    }
    html[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
        transition: all 0.3s;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }
    html[data-bs-theme="dark"] ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, .5);
    }

}
